In [28]:
import sqlite3
import json
from datetime import datetime

In [29]:
timeframe = '2015-01'
sql_transaction = []
start_row = 0
cleanup = 1000000

In [30]:
connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()

In [31]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [32]:
def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

In [33]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [34]:
def acceptable(data):
    if len(data.split(' ')) > 1000 or len(data) < 1:
        return False
    elif len(data) > 32000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [35]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [36]:
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [37]:
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [38]:
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [39]:
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [40]:
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    with open('E:/hst_sync_2017/python/text_learning_project/chatbot/deep_learning_chatbot/{}/RC_{}'.format(timeframe.split('-')[0],timeframe), buffering=1000) as f:
    #with open('{}/RC_{}'.format(timeframe.split('-')[0],timeframe), buffering=1000) as f:
        for row in f:
            #print(row)
            #time.sleep(555)
            row_counter += 1

            if row_counter > start_row:
                try:
                    row = json.loads(row)
                    parent_id = row['parent_id'].split('_')[1]
                    body = format_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    
                    comment_id = row['id']
                    
                    subreddit = row['subreddit']
                    parent_data = find_parent(parent_id)
                    
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if acceptable(body):
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                
                    else:
                        if acceptable(body):
                            if parent_data:
                                if score >= 2:
                                    sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                    paired_rows += 1
                            else:
                                sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

            if row_counter > start_row:
                if row_counter % cleanup == 0:
                    print("Cleanin up!")
                    sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                    c.execute(sql)
                    connection.commit()
                    c.execute("VACUUM")
                    connection.commit()

Total Rows Read: 100000, Paired Rows: 6105, Time: 2018-01-08 17:43:00.992415
Total Rows Read: 200000, Paired Rows: 13837, Time: 2018-01-08 17:43:41.466730
Total Rows Read: 300000, Paired Rows: 22238, Time: 2018-01-08 17:44:30.408530
Total Rows Read: 400000, Paired Rows: 30681, Time: 2018-01-08 17:45:29.848929
Total Rows Read: 500000, Paired Rows: 38915, Time: 2018-01-08 17:46:34.577632
Total Rows Read: 600000, Paired Rows: 46399, Time: 2018-01-08 17:47:41.447456
Total Rows Read: 700000, Paired Rows: 54145, Time: 2018-01-08 17:48:49.522350
Total Rows Read: 800000, Paired Rows: 62623, Time: 2018-01-08 17:49:57.875260
Total Rows Read: 900000, Paired Rows: 71345, Time: 2018-01-08 17:50:58.762742
Total Rows Read: 1000000, Paired Rows: 79923, Time: 2018-01-08 17:51:57.026075
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 87076, Time: 2018-01-08 17:52:38.713459
Total Rows Read: 1200000, Paired Rows: 95201, Time: 2018-01-08 17:53:22.521965
Total Rows Read: 1300000, Paired Rows: 103703, Time: 2018-01-08 17:54:12.330814
Total Rows Read: 1400000, Paired Rows: 112124, Time: 2018-01-08 17:55:05.695866
Total Rows Read: 1500000, Paired Rows: 120254, Time: 2018-01-08 17:55:59.816962
Total Rows Read: 1600000, Paired Rows: 128810, Time: 2018-01-08 17:56:56.835223
Total Rows Read: 1700000, Paired Rows: 137109, Time: 2018-01-08 17:57:57.375686
Total Rows Read: 1800000, Paired Rows: 145262, Time: 2018-01-08 17:58:59.036212
Total Rows Read: 1900000, Paired Rows: 152936, Time: 2018-01-08 17:59:57.546559
Total Rows Read: 2000000, Paired Rows: 162047, Time: 2018-01-08 18:01:01.945242
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 168603, Time: 2018-01-08 18:01:51.295065
Total Rows Read: 2200000, Paired Rows: 176125, Time: 2018-01-08 18:02:37.589713
Total Rows Read: 2300000, Paired Rows: 184363, Time: 2018-01-08 18:03:31.481795
Total Rows Read: 2400000, Paired Rows: 193235, Time: 2018-01-08 18:04:28.441053
Total Rows Read: 2500000, Paired Rows: 202631, Time: 2018-01-08 18:05:27.281419
Total Rows Read: 2600000, Paired Rows: 212255, Time: 2018-01-08 18:06:27.869884
Total Rows Read: 2700000, Paired Rows: 221844, Time: 2018-01-08 18:07:27.940320
Total Rows Read: 2800000, Paired Rows: 231256, Time: 2018-01-08 18:08:36.518242
Total Rows Read: 2900000, Paired Rows: 240473, Time: 2018-01-08 18:09:42.236001
Total Rows Read: 3000000, Paired Rows: 249668, Time: 2018-01-08 18:10:52.214004
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 257142, Time: 2018-01-08 18:11:44.842014
Total Rows Read: 3200000, Paired Rows: 265674, Time: 2018-01-08 18:12:31.656692
Total Rows Read: 3300000, Paired Rows: 274366, Time: 2018-01-08 18:13:23.325647
Total Rows Read: 3400000, Paired Rows: 282893, Time: 2018-01-08 18:14:21.907998
Total Rows Read: 3500000, Paired Rows: 291749, Time: 2018-01-08 18:15:26.855712
Total Rows Read: 3600000, Paired Rows: 300413, Time: 2018-01-08 18:16:32.062442
Total Rows Read: 3700000, Paired Rows: 308968, Time: 2018-01-08 18:17:40.041330
Total Rows Read: 3800000, Paired Rows: 317113, Time: 2018-01-08 18:18:50.466358
Total Rows Read: 3900000, Paired Rows: 325371, Time: 2018-01-08 18:20:01.312410
Total Rows Read: 4000000, Paired Rows: 334058, Time: 2018-01-08 18:21:08.516254
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 341535, Time: 2018-01-08 18:22:02.263328
Total Rows Read: 4200000, Paired Rows: 350299, Time: 2018-01-08 18:22:49.297019
Total Rows Read: 4300000, Paired Rows: 359167, Time: 2018-01-08 18:23:43.374112
Total Rows Read: 4400000, Paired Rows: 368131, Time: 2018-01-08 18:24:41.336427
Total Rows Read: 4500000, Paired Rows: 376861, Time: 2018-01-08 18:25:39.309743
Total Rows Read: 4600000, Paired Rows: 385545, Time: 2018-01-08 18:26:42.057332
Total Rows Read: 4700000, Paired Rows: 393810, Time: 2018-01-08 18:27:45.252946
Total Rows Read: 4800000, Paired Rows: 402815, Time: 2018-01-08 18:28:49.499621
Total Rows Read: 4900000, Paired Rows: 411503, Time: 2018-01-08 18:29:55.153376
Total Rows Read: 5000000, Paired Rows: 419702, Time: 2018-01-08 18:30:57.064917
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 427026, Time: 2018-01-08 18:31:56.120295
Total Rows Read: 5200000, Paired Rows: 435443, Time: 2018-01-08 18:32:43.429001
Total Rows Read: 5300000, Paired Rows: 443986, Time: 2018-01-08 18:33:41.595328
Total Rows Read: 5400000, Paired Rows: 452099, Time: 2018-01-08 18:34:48.154135
Total Rows Read: 5500000, Paired Rows: 460449, Time: 2018-01-08 18:35:57.685112
Total Rows Read: 5600000, Paired Rows: 469010, Time: 2018-01-08 18:37:03.929901
Total Rows Read: 5700000, Paired Rows: 477724, Time: 2018-01-08 18:38:08.757609
Total Rows Read: 5800000, Paired Rows: 486525, Time: 2018-01-08 18:39:10.958166
Total Rows Read: 5900000, Paired Rows: 495291, Time: 2018-01-08 18:40:12.423682
Total Rows Read: 6000000, Paired Rows: 504238, Time: 2018-01-08 18:41:15.249275
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 511525, Time: 2018-01-08 18:42:23.228164
Total Rows Read: 6200000, Paired Rows: 519462, Time: 2018-01-08 18:43:14.944122
Total Rows Read: 6300000, Paired Rows: 527579, Time: 2018-01-08 18:44:16.661652
Total Rows Read: 6400000, Paired Rows: 535360, Time: 2018-01-08 18:45:14.845980
Total Rows Read: 6500000, Paired Rows: 544399, Time: 2018-01-08 18:46:19.851698
Total Rows Read: 6600000, Paired Rows: 553587, Time: 2018-01-08 18:47:27.242552
Total Rows Read: 6700000, Paired Rows: 562852, Time: 2018-01-08 18:48:33.796359
Total Rows Read: 6800000, Paired Rows: 572004, Time: 2018-01-08 18:49:40.892197
Total Rows Read: 6900000, Paired Rows: 581107, Time: 2018-01-08 18:50:51.488234
Total Rows Read: 7000000, Paired Rows: 589631, Time: 2018-01-08 18:52:03.522355
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 596443, Time: 2018-01-08 18:53:16.710541
Total Rows Read: 7200000, Paired Rows: 604660, Time: 2018-01-08 18:54:16.328951
Total Rows Read: 7300000, Paired Rows: 613536, Time: 2018-01-08 18:55:19.729577
Total Rows Read: 7400000, Paired Rows: 622971, Time: 2018-01-08 18:56:24.689292
Total Rows Read: 7500000, Paired Rows: 632624, Time: 2018-01-08 18:57:30.546059
Total Rows Read: 7600000, Paired Rows: 642616, Time: 2018-01-08 18:58:36.336822
Total Rows Read: 7700000, Paired Rows: 651925, Time: 2018-01-08 18:59:44.304710
Total Rows Read: 7800000, Paired Rows: 660700, Time: 2018-01-08 19:00:49.617445
Total Rows Read: 7900000, Paired Rows: 670287, Time: 2018-01-08 19:01:57.708340
Total Rows Read: 8000000, Paired Rows: 679742, Time: 2018-01-08 19:03:10.780520
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 687076, Time: 2018-01-08 19:04:27.939933
Total Rows Read: 8200000, Paired Rows: 695562, Time: 2018-01-08 19:05:22.746067
Total Rows Read: 8300000, Paired Rows: 703727, Time: 2018-01-08 19:06:19.886336
Total Rows Read: 8400000, Paired Rows: 711960, Time: 2018-01-08 19:07:20.446800
Total Rows Read: 8500000, Paired Rows: 720476, Time: 2018-01-08 19:08:27.064610
Total Rows Read: 8600000, Paired Rows: 729350, Time: 2018-01-08 19:09:33.467408
Total Rows Read: 8700000, Paired Rows: 737873, Time: 2018-01-08 19:10:42.945382
Total Rows Read: 8800000, Paired Rows: 746145, Time: 2018-01-08 19:11:53.169398
Total Rows Read: 8900000, Paired Rows: 754551, Time: 2018-01-08 19:13:01.286294
Total Rows Read: 9000000, Paired Rows: 763530, Time: 2018-01-08 19:14:05.783984
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 771079, Time: 2018-01-08 19:15:21.832333
Total Rows Read: 9200000, Paired Rows: 780412, Time: 2018-01-08 19:16:18.557578
Total Rows Read: 9300000, Paired Rows: 790054, Time: 2018-01-08 19:17:20.852141
Total Rows Read: 9400000, Paired Rows: 799637, Time: 2018-01-08 19:18:26.223880
Total Rows Read: 9500000, Paired Rows: 809377, Time: 2018-01-08 19:19:33.712740
Total Rows Read: 9600000, Paired Rows: 819280, Time: 2018-01-08 19:20:40.988588
Total Rows Read: 9700000, Paired Rows: 829020, Time: 2018-01-08 19:21:49.134486
Total Rows Read: 9800000, Paired Rows: 838623, Time: 2018-01-08 19:23:03.871760
Total Rows Read: 9900000, Paired Rows: 848037, Time: 2018-01-08 19:24:17.791988
Total Rows Read: 10000000, Paired Rows: 857319, Time: 2018-01-08 19:25:27.694987
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 864497, Time: 2018-01-08 19:26:46.892516
Total Rows Read: 10200000, Paired Rows: 873041, Time: 2018-01-08 19:27:37.610417
Total Rows Read: 10300000, Paired Rows: 881670, Time: 2018-01-08 19:28:36.189768
Total Rows Read: 10400000, Paired Rows: 890341, Time: 2018-01-08 19:29:38.425328
Total Rows Read: 10500000, Paired Rows: 898732, Time: 2018-01-08 19:30:45.606170
Total Rows Read: 10600000, Paired Rows: 906661, Time: 2018-01-08 19:31:57.024255
Total Rows Read: 10700000, Paired Rows: 914864, Time: 2018-01-08 19:33:03.988085
Total Rows Read: 10800000, Paired Rows: 923680, Time: 2018-01-08 19:34:12.958030
Total Rows Read: 10900000, Paired Rows: 932871, Time: 2018-01-08 19:35:21.215934
Total Rows Read: 11000000, Paired Rows: 942661, Time: 2018-01-08 19:36:29.181822
Cleanin up!
Total Rows Read: 11100000, Paired Rows: 950508, Time: 2018-01-08 19:37:50.934498
Total Rows Read: 11200000, Paired Rows: 959841, Time: 2018-01-08 19:38:45.930643
Total Rows Read: 11300000, Paired Rows: 969363, Time: 2018-01-08 19:39:48.426218
Total Rows Read: 11400000, Paired Rows: 979253, Time: 2018-01-08 19:40:54.124975
Total Rows Read: 11500000, Paired Rows: 989042, Time: 2018-01-08 19:42:01.913853
Total Rows Read: 11600000, Paired Rows: 998593, Time: 2018-01-08 19:43:10.043750
Total Rows Read: 11700000, Paired Rows: 1008028, Time: 2018-01-08 19:44:19.898745
Total Rows Read: 11800000, Paired Rows: 1017114, Time: 2018-01-08 19:45:31.916864
Total Rows Read: 11900000, Paired Rows: 1026148, Time: 2018-01-08 19:46:45.290061
Total Rows Read: 12000000, Paired Rows: 1035372, Time: 2018-01-08 19:47:54.575024
Cleanin up!
Total Rows Read: 12100000, Paired Rows: 1042624, Time: 2018-01-08 19:49:26.661291
Total Rows Read: 12200000, Paired Rows: 1050956, Time: 2018-01-08 19:50:24.719612
Total Rows Read: 12300000, Paired Rows: 1059625, Time: 2018-01-08 19:51:30.385367
Total Rows Read: 12400000, Paired Rows: 1067863, Time: 2018-01-08 19:52:40.507378
Total Rows Read: 12500000, Paired Rows: 1075988, Time: 2018-01-08 19:53:51.653447
Total Rows Read: 12600000, Paired Rows: 1084743, Time: 2018-01-08 19:55:02.758514
Total Rows Read: 12700000, Paired Rows: 1094118, Time: 2018-01-08 19:56:15.855695
Total Rows Read: 12800000, Paired Rows: 1103845, Time: 2018-01-08 19:57:29.635915
Total Rows Read: 12900000, Paired Rows: 1113611, Time: 2018-01-08 19:58:40.919993
Total Rows Read: 13000000, Paired Rows: 1123692, Time: 2018-01-08 19:59:52.965113
Cleanin up!
Total Rows Read: 13100000, Paired Rows: 1131737, Time: 2018-01-08 20:01:23.653300
Total Rows Read: 13200000, Paired Rows: 1141231, Time: 2018-01-08 20:02:18.366430
Total Rows Read: 13300000, Paired Rows: 1151214, Time: 2018-01-08 20:03:20.241969
Total Rows Read: 13400000, Paired Rows: 1160212, Time: 2018-01-08 20:04:24.549647
Total Rows Read: 13500000, Paired Rows: 1169506, Time: 2018-01-08 20:05:29.713374
Total Rows Read: 13600000, Paired Rows: 1178734, Time: 2018-01-08 20:06:34.551083
Total Rows Read: 13700000, Paired Rows: 1187625, Time: 2018-01-08 20:07:39.669807
Total Rows Read: 13800000, Paired Rows: 1196810, Time: 2018-01-08 20:08:42.660410
Total Rows Read: 13900000, Paired Rows: 1205616, Time: 2018-01-08 20:09:50.812308
Total Rows Read: 14000000, Paired Rows: 1214829, Time: 2018-01-08 20:11:00.949320
Cleanin up!
Total Rows Read: 14100000, Paired Rows: 1222009, Time: 2018-01-08 20:12:32.737570
Total Rows Read: 14200000, Paired Rows: 1229772, Time: 2018-01-08 20:13:30.846893
Total Rows Read: 14300000, Paired Rows: 1237369, Time: 2018-01-08 20:14:35.945617
Total Rows Read: 14400000, Paired Rows: 1245738, Time: 2018-01-08 20:15:45.257581
Total Rows Read: 14500000, Paired Rows: 1254575, Time: 2018-01-08 20:16:51.667380
Total Rows Read: 14600000, Paired Rows: 1263927, Time: 2018-01-08 20:17:58.205186
Total Rows Read: 14700000, Paired Rows: 1273456, Time: 2018-01-08 20:19:03.676930
Total Rows Read: 14800000, Paired Rows: 1283283, Time: 2018-01-08 20:20:12.308856
Total Rows Read: 14900000, Paired Rows: 1293044, Time: 2018-01-08 20:21:20.579761
Total Rows Read: 15000000, Paired Rows: 1303122, Time: 2018-01-08 20:22:29.297691
Cleanin up!
Total Rows Read: 15100000, Paired Rows: 1311136, Time: 2018-01-08 20:24:13.111629
Total Rows Read: 15200000, Paired Rows: 1320576, Time: 2018-01-08 20:25:13.920107
Total Rows Read: 15300000, Paired Rows: 1329903, Time: 2018-01-08 20:26:23.513087
Total Rows Read: 15400000, Paired Rows: 1338966, Time: 2018-01-08 20:27:36.241247
Total Rows Read: 15500000, Paired Rows: 1347807, Time: 2018-01-08 20:28:47.748337
Total Rows Read: 15600000, Paired Rows: 1356464, Time: 2018-01-08 20:29:58.519385
Total Rows Read: 15700000, Paired Rows: 1364945, Time: 2018-01-08 20:31:07.569335
Total Rows Read: 15800000, Paired Rows: 1373575, Time: 2018-01-08 20:32:16.251263
Total Rows Read: 15900000, Paired Rows: 1382068, Time: 2018-01-08 20:33:25.429220
Total Rows Read: 16000000, Paired Rows: 1390131, Time: 2018-01-08 20:34:38.497399
Cleanin up!
Total Rows Read: 16100000, Paired Rows: 1396449, Time: 2018-01-08 20:36:16.037978
Total Rows Read: 16200000, Paired Rows: 1404331, Time: 2018-01-08 20:37:09.043010
Total Rows Read: 16300000, Paired Rows: 1412947, Time: 2018-01-08 20:38:09.127446
Total Rows Read: 16400000, Paired Rows: 1422025, Time: 2018-01-08 20:39:11.265000
Total Rows Read: 16500000, Paired Rows: 1431049, Time: 2018-01-08 20:40:14.964644
Total Rows Read: 16600000, Paired Rows: 1440409, Time: 2018-01-08 20:41:20.008364
Total Rows Read: 16700000, Paired Rows: 1449762, Time: 2018-01-08 20:42:25.433106
Total Rows Read: 16800000, Paired Rows: 1458025, Time: 2018-01-08 20:43:24.479483
Total Rows Read: 16900000, Paired Rows: 1466293, Time: 2018-01-08 20:44:24.829935
Total Rows Read: 17000000, Paired Rows: 1474294, Time: 2018-01-08 20:45:25.306394
Cleanin up!
Total Rows Read: 17100000, Paired Rows: 1481043, Time: 2018-01-08 20:47:01.797913
Total Rows Read: 17200000, Paired Rows: 1489089, Time: 2018-01-08 20:47:54.779944
Total Rows Read: 17300000, Paired Rows: 1497309, Time: 2018-01-08 20:48:55.895439
Total Rows Read: 17400000, Paired Rows: 1506413, Time: 2018-01-08 20:50:00.395128
Total Rows Read: 17500000, Paired Rows: 1515271, Time: 2018-01-08 20:51:07.735980
Total Rows Read: 17600000, Paired Rows: 1523634, Time: 2018-01-08 20:52:20.476141
Total Rows Read: 17700000, Paired Rows: 1531635, Time: 2018-01-08 20:53:30.654155
Total Rows Read: 17800000, Paired Rows: 1539899, Time: 2018-01-08 20:54:36.670931
Total Rows Read: 17900000, Paired Rows: 1548743, Time: 2018-01-08 20:55:39.732537
Total Rows Read: 18000000, Paired Rows: 1557593, Time: 2018-01-08 20:56:42.748142
Cleanin up!
Total Rows Read: 18100000, Paired Rows: 1564483, Time: 2018-01-08 20:58:22.699859
Total Rows Read: 18200000, Paired Rows: 1572820, Time: 2018-01-08 20:59:12.431703
Total Rows Read: 18300000, Paired Rows: 1580609, Time: 2018-01-08 21:00:03.673634
Total Rows Read: 18400000, Paired Rows: 1588981, Time: 2018-01-08 21:01:00.037858
Total Rows Read: 18500000, Paired Rows: 1597989, Time: 2018-01-08 21:02:00.262303
Total Rows Read: 18600000, Paired Rows: 1606682, Time: 2018-01-08 21:03:02.397856
Total Rows Read: 18700000, Paired Rows: 1615126, Time: 2018-01-08 21:04:04.140388
Total Rows Read: 18800000, Paired Rows: 1624384, Time: 2018-01-08 21:05:08.215053
Total Rows Read: 18900000, Paired Rows: 1633565, Time: 2018-01-08 21:06:18.475071
Total Rows Read: 19000000, Paired Rows: 1642739, Time: 2018-01-08 21:07:25.547908
Cleanin up!
Total Rows Read: 19100000, Paired Rows: 1649866, Time: 2018-01-08 21:09:12.356017
Total Rows Read: 19200000, Paired Rows: 1658185, Time: 2018-01-08 21:10:10.899365
Total Rows Read: 19300000, Paired Rows: 1666425, Time: 2018-01-08 21:11:17.271162
Total Rows Read: 19400000, Paired Rows: 1675169, Time: 2018-01-08 21:12:29.348284
Total Rows Read: 19500000, Paired Rows: 1684243, Time: 2018-01-08 21:13:40.063329
Total Rows Read: 19600000, Paired Rows: 1693851, Time: 2018-01-08 21:14:49.841320
Total Rows Read: 19700000, Paired Rows: 1703670, Time: 2018-01-08 21:15:57.060165
Total Rows Read: 19800000, Paired Rows: 1713423, Time: 2018-01-08 21:17:04.789039
Total Rows Read: 19900000, Paired Rows: 1723084, Time: 2018-01-08 21:18:14.034999
Total Rows Read: 20000000, Paired Rows: 1732962, Time: 2018-01-08 21:19:23.398967
Cleanin up!
Total Rows Read: 20100000, Paired Rows: 1741031, Time: 2018-01-08 21:21:19.155587
Total Rows Read: 20200000, Paired Rows: 1750493, Time: 2018-01-08 21:22:23.160248
Total Rows Read: 20300000, Paired Rows: 1759576, Time: 2018-01-08 21:23:35.067361
Total Rows Read: 20400000, Paired Rows: 1768972, Time: 2018-01-08 21:24:48.134540
Total Rows Read: 20500000, Paired Rows: 1777355, Time: 2018-01-08 21:25:56.371443
Total Rows Read: 20600000, Paired Rows: 1785345, Time: 2018-01-08 21:27:02.704237
Total Rows Read: 20700000, Paired Rows: 1793385, Time: 2018-01-08 21:28:09.759073
Total Rows Read: 20800000, Paired Rows: 1801389, Time: 2018-01-08 21:29:15.428829
Total Rows Read: 20900000, Paired Rows: 1809957, Time: 2018-01-08 21:30:26.208877
Total Rows Read: 21000000, Paired Rows: 1818270, Time: 2018-01-08 21:31:40.561130
Cleanin up!
Total Rows Read: 21100000, Paired Rows: 1824409, Time: 2018-01-08 21:33:35.631711
Total Rows Read: 21200000, Paired Rows: 1831933, Time: 2018-01-08 21:34:33.680032
Total Rows Read: 21300000, Paired Rows: 1840401, Time: 2018-01-08 21:35:38.732752
Total Rows Read: 21400000, Paired Rows: 1849631, Time: 2018-01-08 21:36:46.708640
Total Rows Read: 21500000, Paired Rows: 1859084, Time: 2018-01-08 21:37:53.346452
Total Rows Read: 21600000, Paired Rows: 1868617, Time: 2018-01-08 21:39:02.195390
Total Rows Read: 21700000, Paired Rows: 1878115, Time: 2018-01-08 21:40:10.595302
Total Rows Read: 21800000, Paired Rows: 1887530, Time: 2018-01-08 21:41:17.051103
Total Rows Read: 21900000, Paired Rows: 1896642, Time: 2018-01-08 21:42:23.734917
Total Rows Read: 22000000, Paired Rows: 1905526, Time: 2018-01-08 21:43:31.082769
Cleanin up!
Total Rows Read: 22100000, Paired Rows: 1912283, Time: 2018-01-08 21:45:26.163352
Total Rows Read: 22200000, Paired Rows: 1920728, Time: 2018-01-08 21:46:23.250617
Total Rows Read: 22300000, Paired Rows: 1929428, Time: 2018-01-08 21:47:28.461347
Total Rows Read: 22400000, Paired Rows: 1938246, Time: 2018-01-08 21:48:35.980208
Total Rows Read: 22500000, Paired Rows: 1947097, Time: 2018-01-08 21:49:43.274057
Total Rows Read: 22600000, Paired Rows: 1956227, Time: 2018-01-08 21:50:53.820092
Total Rows Read: 22700000, Paired Rows: 1965227, Time: 2018-01-08 21:52:03.593083
Total Rows Read: 22800000, Paired Rows: 1973922, Time: 2018-01-08 21:53:16.562257
Total Rows Read: 22900000, Paired Rows: 1981827, Time: 2018-01-08 21:54:33.708669
Total Rows Read: 23000000, Paired Rows: 1989994, Time: 2018-01-08 21:55:48.511948
Cleanin up!
Total Rows Read: 23100000, Paired Rows: 1996955, Time: 2018-01-08 21:57:45.487638
Total Rows Read: 23200000, Paired Rows: 2005673, Time: 2018-01-08 21:58:40.830804
Total Rows Read: 23300000, Paired Rows: 2015138, Time: 2018-01-08 21:59:43.217372
Total Rows Read: 23400000, Paired Rows: 2024617, Time: 2018-01-08 22:00:51.238263
Total Rows Read: 23500000, Paired Rows: 2033859, Time: 2018-01-08 22:01:59.241152
Total Rows Read: 23600000, Paired Rows: 2043142, Time: 2018-01-08 22:03:09.848191
Total Rows Read: 23700000, Paired Rows: 2052885, Time: 2018-01-08 22:04:19.510175
Total Rows Read: 23800000, Paired Rows: 2062472, Time: 2018-01-08 22:05:31.521294
Total Rows Read: 23900000, Paired Rows: 2072039, Time: 2018-01-08 22:06:43.443408
Total Rows Read: 24000000, Paired Rows: 2081811, Time: 2018-01-08 22:07:55.252515
Cleanin up!
Total Rows Read: 24100000, Paired Rows: 2089166, Time: 2018-01-08 22:09:54.801353
Total Rows Read: 24200000, Paired Rows: 2097799, Time: 2018-01-08 22:10:54.390761
Total Rows Read: 24300000, Paired Rows: 2106612, Time: 2018-01-08 22:12:01.581604